# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
lib/
include/
bin/
share/
pip-log.txt
pip-delete-this-directory.txt
.venv/

# Virtual Environment
.idea/
.vscode/

# Environment variables
.env

# Database
database.db
*.sqlite3

# Flask-specific
instance/
